version: 1.0.{build}
image: Visual Studio 2017
configuration: Release
before_build:
- cmd: Nuget restore
- ps: ./update-version.ps1
build:
  project: Mediator.Net.sln
  verbosity: minimal

after_build:
- dotnet pack "src\Mediator.Net" -c %CONFIGURATION% --no-build -o artifacts
- dotnet pack "src\Mediator.Net.Autofac" -c %CONFIGURATION% --no-build -o artifacts
- dotnet pack "src\Mediator.Net.StructureMap" -c %CONFIGURATION% --no-build -o artifacts
- dotnet pack "src\Mediator.Net.Ninject" -c %CONFIGURATION% --no-build -o artifacts
- dotnet pack "src\Mediator.Net.SimpleInjector" -c %CONFIGURATION% --no-build -o artifacts
- dotnet pack "src\Mediator.Net.Middlewares.Serilog" -c %CONFIGURATION% --no-build -o artifacts
- dotnet pack "src\Mediator.Net.IoCTestUtil" -c %CONFIGURATION% --no-build -o artifacts
test_script:
- dotnet test "src\Mediator.Net.Test" -c %CONFIGURATION%
- dotnet test "src\Mediator.Net.Autofac.Test" -c %CONFIGURATION%
- dotnet test "src\Mediator.Net.StructureMap.Test" -c %CONFIGURATION%
- dotnet test "src\Mediator.Net.SimpleInjector.Test" -c %CONFIGURATION%
artifacts:
- path: artifacts\**\*.*
cache:
- '%USERPROFILE%\.nuget\packages'
on_finish: # Done